<div class="register">
  <div class="mainTitle">
    查看投诉
  </div>
  <div class="mainCon">
    <p>
      <span style="float:left; line-height: 34px; font-size: 18px;">请选择师傅的状态：</span>
      <select ng-model="state" ng-options="item.value for item in states" ng-change="change1(state)"
              class="form-control" style="width: 200px; margin-left:200px;"></select>
    </p>
    <table class="table table-hover">
      <th>序号</th>
      <th>描述</th>
      <th>状态</th>
      <th>投诉时间</th>
      <th>接受处理时间</th>
      <th>操作</th>
      <tr ng-repeat="a in complaints">
        <td ng-bind="$index"></td>
        <td ng-bind="a.remark"></td>
        <td>{{a.state}}</td>
        <td>{{a.createTime | date : 'yyyy-MM-dd '}}</td>
        <td>{{a.respTime | date : 'yyyy-MM-dd '}}</td>
        <td>
          <button class="btn btn-primary">详情</button>
          <button class="btn btn-primary" ng-show="state1 == 2">通过</button>
          <button class="btn btn-primary" ng-show="state1 == 3">查看评论</button>
          <button class="btn btn-primary" ng-show="state1 == 3">冻结</button>
          <button class="btn btn-primary" ng-show="state1 == 4">解封</button>
        </td>
      </tr>
    </table>
    <div class="pagination">
      <ul uib-pagination boundary-links="true" total-items="totalItems"
          ng-model="currentPage" class="pagination-sm"
          max-size="maxSize"
          previous-text="&lsaquo;" next-text="&rsaquo;"
          first-text="&laquo;" last-text="&raquo;"
          ng-change="pageChanged()">
      </ul>
    </div>
  </div>

</div>